body {
	font-family: sans-serif;
	color: #999;
}

.row {
	display: flex;
}

.col {
	flex: 1;
	padding: 1em;
}

/* FAQ */
.faq {

	max-width: 45%;
	background-color: #f6f6f6;
    box-shadow: 6px 6px 3px #EEE;
    border-radius: 5px;
}

/* CALC */
form {
	font-weight: bold;
	margin-left: auto;
	margin-right: 0;
	background-color: #f6f6f6;
    box-shadow: 6px 6px 3px #EEE;
    border-radius: 5px;
    padding: 1em 2em;
    max-width: 45%;
}

#total {
	color: #F36510;
}

#wins {
	background-color:  white;
	width:  10%;
	text-align:  center;
	padding:  1em;
	border-radius:  5px;
	box-shadow:  6px 6px 3px #EEE;
}

#wins_amount {
    -webkit-appearance: none;
    appearance: none;
    height:  7px;
	border-radius: 5px;
    background:  #fff;
    outline: none;
    opacity: 0.7;

    box-shadow: 2px 2px 2px #EEE
}

#wins_amount::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #999;
    cursor: pointer;
}

#wins_amount::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #999;
    cursor: pointer;
}

.check {
	height: 12px;
	width: 12px;
	border: thin solid #F36510;
	border-radius: 10px;
	background-color: #EEE;
	-webkit-appearance: none;
	appearance: none;
}

.check:checked {
	background-color: #F36510;
}

#coupon {
	text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: #ddd;
    box-shadow: 2px 2px 2px #EEE;
    height: 25px;
    width: 70%;
}

.coupon_paragraph {
	text-align: center;
	color: #F36510;
}